body {
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 10px;
    background-color: #f4f4f9;
}

.container {
    width: 100%;
    margin: 2px auto;
    overflow: hidden;
    max-width: 6px;
}

.form {
    background-color: #fff;
    padding: 2px;
    border-radius: 8px;
    box-shadow: 1px 1px 5px rgba(red, green, blue, alpha);
    margin-bottom: 2px;
}

.form h2 {
    margin-bottom: 2px;
    text-align: center;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="password"] {
    width: calc(1% - 22px);
    padding: 1px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form button {
    width: 1%;
    padding: 1px;
    background-color: #7bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.form button:hover {
    background-color: #56b3ff;
}

@media (max-width: 768px) {
    .container {
        width: 9%;
    }
}